body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.pokedex-main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pokedex-title {
    text-align: center;
    color: #333;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokedex-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 160px;
    background-color: #eeeeee;
}
.pokedex-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.pokedex-card img {
    width: 100px;
    height: 100px;
}
.card p {
    margin-left: 10px;
    font-weight: bold;
    color: #3c3c3c;
}
